# =========================
# Java
# =========================
*.class
*.log

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PDFs (Ignore all PDF files)
# =========================
*.pdf

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code
# =========================
.vscode/
